@charset "ISO-8859-1";
body{
	
	font-family:"Brush Script MT",cursive;
}

#l{
	position:absolute;
	left:40%;
	top:5%;
	font-size:30px;
}
#j{
	position:absolute;
	left:38%;
	top:5%;
	font-size:30px;
}

.f{
	position :absolute;
	left:34%;
	top:9%;
	box-shadow:0 0 5px 0;
	background:inherit;
	border:2px solid black;
	padding:105px 105px;;
}

.k{
	position :absolute;
	left:34%;
	top:9%;
	box-shadow:0 0 5px 0;
	background:inherit;
	border:3px solid black;
	padding:115px 125px;;
}

.b{
	padding:13px 26px;
	margin:8px 0;
	border:none;
	cursor:pointer;
	width:100%;
	background-color:#48873d;
}
.a{
    padding:13px 26px;
	position:absolute;
    left:38%;
    top:78%;
	width:auto;
	background-color:red;
	
}
.cancel{
	position:absolute;
    left:40%;
	width:auto;
	background-color:red;
}